html,
body {
  width: 100%;
  margin: 0;
  padding: 0;
}

body {
  background: url("../assets/bg.png") center center repeat;
  margin-bottom: 4em;

}

#resultDiv {
  display: none;
  margin: 20px auto;
  /*background: #f5f5f5;*/
  height: 400px;
  padding: 30px;
  border-radius: 5px;
  overflow-y: scroll;
}

.progress {
  display: none;
}

.container {
  /*padding-bottom: 5rem;*/
}

.vidNameBlock p {
  padding-top: 8px;
  display: inline-block;
}

#resultDiv::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}

#resultDiv::-webkit-scrollbar
{
	width: 6px;
	background-color: #F5F5F5;
}

#resultDiv::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #111;
}

.details {
  display: inline-block;
  margin-right: 15px;
}

#downloadWrap {
  display: flex;
  justify-content: space-between;
}

#overlay {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgb(255, 255, 255);
  z-index: 2;
  animation: fadeinout 2.5s linear forwards;
}

#text{
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 1.5em;
  color: #000;
  transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
}

@keyframes fadeinout {
  0%,100% { opacity: 0 }
  50% { opacity: 0.9 }
}

#action-wrap {
  display: none;
}