html,
body {
  width: 100%;
  margin: 0;
  padding: 0;
}

body {
  background: url("../assets/bg.png") center center repeat;
  margin-bottom: 4em;

}

#resultDiv {
  display: none;
  margin: 20px auto;
  /*background: #f5f5f5;*/
  height: 400px;
  padding: 30px;
  border-radius: 5px;
  overflow-y: scroll;
}

.progress {
  display: none;
}

.container {
  /*padding-bottom: 5rem;*/
}

.vidNameBlock p {
  padding-top: 8px;
  display: inline-block;
}

#resultDiv::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}

#resultDiv::-webkit-scrollbar
{
	width: 6px;
	background-color: #F5F5F5;
}

#resultDiv::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #111;
}

.details {
  display: inline-block;
}

#downloadWrap {
  display: flex;
  justify-content: space-between;
}